{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ blog.author }} | {{ blog.publication_date }}</p>
        <pre class="card-text ">{{ object.content | safe }}</pre>
        {% block comment_content %}
<div class="container-fluid my-5">

<!-- ... -->

 <!-- List of comments -->
  {% if comments %}
  <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
      Comment{{ comments.count|pluralize }}
      <span class="badge badge-dark ml-2">{{ comments.count }}</span>
    </div>
    {% for comment in comments %}
    <div class="col-lg-6 offset-lg-3 mt-2">
      <div class="card p-2">
        <div class="row">
          <div class="col-12">
            <img class="rounded-circle mr-2" style="width: 50px;" src="{% static 'avatar.png' %}" alt="Avatar">
           
          </div>
          <div class="col-12">
            <p class="m-1 mt-3">Comment : {{ comment.blog_comment }}</p>
            <p class="text-right text-muted"><small>{{ comment.created_date }}</small></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Form to leave comment -->
  <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
      <h3>Leave a comment</h3>
      <form method='POST' >
        {% csrf_token %}
        <div class="form-group">
          <span class="ml-2"></span>{{ form.name.label_tag }}
          <input placeholder="Enter Name" type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
            name="name" value="{{ form.name.value|default:'' }}">
        </div>
        
        <div class="form-group">
          <span class="ml-2"></span>{{ form.content.label_tag }}
          <textarea placeholder="Enter Comment" class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="blog_comment"
            name="blog_comment" rows="4">{{ form.content.value|default:'' }}</textarea>
        </div>
        <button class="btn btn-primary ml-2" type="submit">Reply</button>
      </form>
    </div>
  </div>

</div>
{% endblock comment_content %}
      </div>
    </div>

    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>



</div>

{% endblock content %}