{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my Blog </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for blog in blog_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ blog.title }}</h2>
                    <p class="card-text text-muted h6">{{ blog.author }} | {{ blog.publication_date}} </p>
                    <pre class="card-text">{{blog.content|slice:":200" |safe }}</pre>
                    <a href="{% url 'blog_detail' blog.id  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if blog_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ blog_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ blog_list.number }} of {{ blog_list.paginator.num_pages }}.
            </span>
    
            {% if blog_list.has_next %}
                <a href="?page={{ blog_list.next_page_number }}">next</a>
                <a href="?page={{ blog_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{%endblock%}